*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(./../photo/background.png);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 35px;
    padding-right: 35px;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.run{
    background: rgb(202, 216, 243);
    width: 250px; 
    font-size: 10px;
    border-radius: 10px;
    border: 1px solid #009688;
    position: absolute;
    left: 20%;
    text-align: left;
}
.NuBWo{
    width: 120px;
    cursor: pointer;
    position: relative;
    right: 5%;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-transform: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.navbar img{
    width: 100px;
    cursor: pointer;
    position: relative;
    right: 5%;
}
.navbar .btn{
    background: rgb(202, 216, 243);
    width: 250px; 
    font-size: 10px;
    border-radius: 10px;
    border: 1px solid #009688;
    position: absolute;
    left: 20%;
    text-align: left;
}
.content{
    width: 100%;
    position: relative;
    right: 30%;
    top: 150px;
    transform: translate(-0%);
    text-align: center;
    color: rgb(0, 0, 0);
}
.btn{
    width: 85vh;
    position: absolute;
    left: 65%;
    margin: 0px;
    padding: 0px;
}
.content p{
    margin: 20px auto;
    font-weight: 100px;
    line-height: 25px;
}
.mail{
    margin-top: 25px;
    margin-left: 2px;
    border-style: solid;
    background-color: rgb(125, 168, 248);
    border-width: 1px;
    border-radius: 5px;
    padding: 15px 0;
}
.command{
    margin-top: 50px;
}
.left{
    width: 70%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    float: left;
}
.left img{
    width: 1000px;
    height: 600px;
    left: 100%;
}
.right{
    width: 30%;
    height: 50vh;
    background-color:#ffffff;
    float: right;
}
.grid-container {
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    padding: 1px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 3px;
    font-size: 15px;
    text-align: center;
  }